__pycache__
/medical_datasets
/data/original_datasets
/data/desc2025.xml
/data/Translated
/graph_output

/results
/results_Bio_BERT
/results_BERT_base_ml
/results_BERT_base_ml_en_only
/results2
/mon_modele_final
/mon_modele_final2
mon_modele_final.zip
/cas_cliniques_fr
Analyse_TF_IDF_files

/Notebooks/.env
