pandas
numpy
scikit-learn
pytest

# Analyse_TF-IDF
tabulate
nltk
spacy
scispacy
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.4/en_core_sci_sm-0.5.4.tar.gz

wordcloud

# BERT
transformers==4.50.1
accelerate>=0.26.0
datasets
tabulate